<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^Halaman-utama.html$ index.php?page=home [L]
    RewriteRule ^Halaman-profil.html$ index.php?page=profil [L]
    RewriteRule ^Halaman-galeri.html$ index.php?page=galeri [L]

    RewriteRule ^([a-zA-Z]+)/$ salah.php?id=$1 [L]
</IfModule>
